<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
    <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES A</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800">Motors, Tools & DIY</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Home & Lifestyle</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Sports & Outdoor</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Tv & Home Appliance</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES B</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800">Electronic Accessories</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Groceries & Pets</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Watches & Accessories</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Mens Fashions</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES A</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800">Motors, Tools & DIY</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Home & Lifestyle</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Sports & Outdoor</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Tv & Home Appliance</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES B</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800">Electronic Accessories</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Groceries & Pets</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Watches & Accessories</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Mens Fashions</a>
          </li>
        </nav>
      </div>

    </div>
  </div>
</section>


